<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mybatis.mappers.userMapper"> <!-- namespace : mapper 경로와 이름 작성, 구분자 . -->

  <select id="selectUserList" parameterType="Map" resultType="UserDto">
    SELECT id, first_name, last_name, email, gender, ip_address
      FROM tbl_user
     ORDER BY id ${sort} <!-- 쿼리문 자체 키워드 : 전달된 문자열 그대로 쿼리문에 포함해야 하기에 ${} 사용, 내림차순/오름차순 -->
     LIMIT #{offset}, #{display} <!-- 변수 값 : 타입에 따라 값을 전달하여 #{} 사용
                                      offset : 페이지에 따라 달라짐 (어떤 순서의 데이터를 노출시킬건지),
                                      display : 얼만큼 노출시킬건지  -->
  </select> 
  
  <select id="selectUserCount" resultType="int">
    SELECT COUNT(*)
      FROM tbl_user
  </select>
  
  
</mapper>
